html {
    height: 100% !important;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #faebd7;
    color: #cd853f;
    height: 100% !important;
    align-items: center;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    line-height: 0px !important;
}

.shlok {
    margin-bottom: 20px !important;
    line-height: 1rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.shlok .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
}

.shlok .side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.shlok .side p {
    font-size: 3rem !important;
    height: 100%;
    margin: 0px !important;
    align-items: center;
    display: flex;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-bottom: 20px;
}

.details {
    flex-direction: row;
    display: flex;
    padding: 0px 20px;
    width: calc(100% - 40px);
}

.details .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.details h3,
p {
    text-align: center;
}

.centerpiece {
    width: 10vw !important;
}

.google-map {
    display: flex;
    margin-top: 40px;
    padding: 1vw;
    border: 1px solid darkslategray;
    justify-content: center;
    background-color: white;
    flex: 1;
    width: calc(100% - 100px) !important;
}

.google-map iframe {
    width: 100% !important;
    height: auto !important;
}

.meow-script {
    font-family: "Meow Script", cursive;
    font-weight: bolder;
    font-style: normal;
}

h1 {
    display: flex;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.devanagari-regular {
    font-family: "Tiro Devanagari Marathi", serif;
    font-weight: 400;
    font-style: normal;
}

.devanagari-regular-italic {
    font-family: "Tiro Devanagari Marathi", serif;
    font-weight: 400;
    font-style: italic;
}


.when {
    order: 1;
}

.decor {
    order: 2;
}

.where {
    order: 3;
}

@media screen and (max-width: 660px) {
    h1 {
        font-size: 50px !important;
    }

    .details {
        flex-direction: column;
    }

    .details * {
        line-height: 0.5rem !important;
    }

    .decor {
        order: 1;
    }

    .when {
        order: 2;
    }

    .where {
        order: 3;
    }

    .shlok .side p {
        font-size: 2rem !important;
    }

    .shlok .center {
        flex: 3 !important;
    }

    .shlok {
        font-size: 0.8rem !important;
    }
}

#prewedding-map {
    display: none;
    padding: 20px 10px;
}

#prewedding-map.show {
    display: flex;
}

#prewedding-map button {
    display: flex;
    border: 2px solid #cd853f;
    background: #faebd7;
    border-radius: 20px;
    height: 40px;
    align-items: center;
    color: #cd853f;
    font-weight: bolder;
    padding: 10px 30px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    width: 80vw;
    height: 80vh;
    margin: 10vh 10vw;
    background: #937e61;
    color: #faebd7;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal.show {
    display: flex;
}

.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    padding: 20px 10px;
    background: #cd853f;
    border-radius: 50%;
}

.modal .google-map {
    width: calc(100% - 40px) !important;
}

.pb-8 {
    padding-bottom: 8px;
}

.modal-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

@media screen and (max-width: 410px) {
    h1 {
        font-size: 30px !important;
    }

    .details {
        flex-direction: column;
    }

    .details * {
        line-height: 0.5rem !important;
    }

    .decor {
        order: 1;
    }

    .when {
        order: 2;
    }

    .where {
        order: 3;
    }

    .shlok .side p {
        font-size: 2rem !important;
    }

    .shlok .center {
        flex: 3 !important;
    }

    .shlok {
        font-size: 0.6rem !important;
    }
}